[git]
    autoCommit = true
    autoPush = true

[data]
    git_name = {{ promptString "Git name" | quote }}
    git_email = {{ promptString "Git email" | quote }}
    git_signingkey = {{ promptString "Git signing key" | quote }}
    is_hyprland = {{ promptBoolOnce . "is_hyprland" "Is this a Hyprland system" }}
{{- if promptBoolOnce . "is_hyprland" "Is this a Hyprland system" }}
    aq_drm_devices = {{ promptStringOnce . "aq_drm_devices" "AQ_DRM_DEVICES (e.g. /dev/dri/card1:/dev/dri/card0, blank to skip)" | quote }}
    libva_driver_name = {{ promptStringOnce . "libva_driver_name" "LIBVA_DRIVER_NAME (e.g. iHD, radeonsi, blank to skip)" | quote }}
{{- end }}
