[git]
    autoCommit = true
    autoPush = true
    # Explicitly target origin HEAD to bypass pushRemote = no_push set in .gitconfig for main/master branches
    pushArgs = ["origin", "HEAD"]

[data]
    git_name = {{ promptString "Git name" | quote }}
    git_email = {{ promptString "Git email" | quote }}
    git_signingkey = {{ promptString "Git signing key" | quote }}
