{{ if lookPath "dnf" -}}
#!/bin/bash

{{ $enabled := dict
    "fonts"              true
    "hyprland"           .is_hyprland
    "hyprland_fedora_42" (and .is_hyprland (eq .chezmoi.osRelease.versionID "42"))
    "hyprland_fedora_43" (and .is_hyprland (eq .chezmoi.osRelease.versionID "43"))
-}}

{{ range $group, $pkgs := .packages.fedora -}}
{{   if hasKey $enabled $group | and (index $enabled $group) -}}
# --- group: {{ $group }} ---
# hash: {{ $pkgs | toJson | sha256sum }}
{{     if hasKey $pkgs "coprs" -}}
{{       range $pkgs.coprs -}}
sudo dnf copr enable -y {{ . | quote }}
{{       end -}}
{{     end -}}
{{     if hasKey $pkgs "dnf" -}}
sudo dnf install -y{{ range $pkgs.dnf }} {{ . | quote }}{{ end }}
{{     end -}}
{{   end -}}
{{ end -}}
{{ end -}}
